<div class="container-fluid">
    <div *ngIf="myTree" class="row">
        <div class="col-xl-12">
            <div>
                <h4 style="margin:0px">Patient Name: {{patientDetails.firstName + ' '+ patientDetails.lastName | titlecase }}</h4>
                <p>Patient User ID: {{patientDetails.userId}}</p>
            </div>
        </div>
        <div style="margin-top: 25px;" class="col-xl-12">
            <mat-accordion>
                <mat-expansion-panel (closed)="setFormState('closed')" (opened)="setFormState('opened')">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Consultation Form
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div style="margin-bottom: 20px;">
                        <lib-ngx-tree-component [treeData]="myTree" (ondragstart)="onDragStart($event)" (ondragenter)="onDragEnter($event)"
                            (ondragleave)="onDragLeave($event)" (ondrop)="onDrop($event)" (onallowdrop)="onAllowDrop($event)"
                            (onadditem)="onAddItem($event)" (onStartDeleteItem)="onStartDeleteItem($event)"
                            (onFinishDeleteItem)="onFinishDeleteItem($event)" (onCancelDeleteItem)="onCancelDeleteItem($event)"
                            (onStartRenameItem)="onStartRenameItem($event)" (onFinishRenameItem)="onFinishRenameItem($event)"
                            [config]='config'></lib-ngx-tree-component>
                            

                    </div>
                    <mat-action-row>
                        <button (click)="Save()" mat-raised-button color="primary">Save</button>
                    </mat-action-row>
                </mat-expansion-panel>
                <mat-expansion-panel style="margin-top: 20px">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Patient Health History
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div *ngIf="patientDetails.visitHistory.length > 0">
                        <mat-accordion>
                            <mat-expansion-panel *ngFor="let visit of patientDetails.visitHistory">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Date: {{visit.date}}
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        Doctor: {{visit.Doctor}}
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <div>
                                    <!-- <app-treepattern [myTreeData]="visit.questions"></app-treepattern> -->
                                    <div *ngFor="let question of visit.questions;let i=index">
                                        <h4 style="margin: 5px">{{i+1}}, {{question.name}}</h4>
                                        <div *ngIf="question.childrens.length > 0">
                                            <app-questionloop [children]="question.childrens"></app-questionloop>
                                        </div>
                                    </div>
                                </div>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>

    </div>
</div>