<div class="container-fluid">
  <div class="row">
    <div class="col-xl-12">
        <h1 mat-dialog-title>Reset Your Password</h1>
        <div mat-dialog-content>
          <mat-form-field style="width: 100%">
            <input type="password" matInput placeholder="Current Password" [(ngModel)]="oldPassword">
          </mat-form-field>
          <mat-form-field style="width: 100%">
              <input minlength="6" type="password" matInput placeholder="New Password"  [(ngModel)]="newPassword">
            </mat-form-field>
            <mat-form-field style="width: 100%">
                <input minlength="6" type="password" matInput placeholder="Confirm New Password"  [(ngModel)]="confirmNewPassword">
              </mat-form-field>
        </div>
        <div mat-dialog-actions>
          <button mat-button [disabled]="!oldPassword && !newPassword && !confirmNewPassword" (click)="resetPassword()">Reset Now</button>
          <button mat-button  cdkFocusInitial>Cancel</button>
        </div>
    </div>
  </div>
</div>
