<form style="width: 100%" name="form" (ngSubmit)="f.form.valid && save()" #f="ngForm" novalidate>
  <div>
    <div>
      <h4 mat-dialog-title>ADD NEW {{role | uppercase}}</h4>
      <div mat-dialog-content style="margin-top: 10px;" class="row">

        <div style="width:100%">
          <mat-form-field style="width:100%">
            <input name="userName" matInput placeholder="User Name" [(ngModel)]="userName" #userName1="ngModel"
              required>
          </mat-form-field>
          <mat-error *ngIf="f.submitted && userName1.invalid">
            <span *ngIf="userName1.errors.required">
              User Name is required
            </span>
          </mat-error>

        </div>
        <div style="width:100%">
          <mat-form-field style="width:100%">
            <input name="userId" matInput placeholder="User ID(Employee ID)" [(ngModel)]="userId" #userId1="ngModel"
              required>
          </mat-form-field>
          <div *ngIf="f.submitted && userId1.invalid">
            <mat-error *ngIf="userId1.errors.required">
              User ID is required
            </mat-error>
          </div>
        </div>
        <div style="width:100%">
          <mat-form-field style="width:100%">
            <input name="role" matInput placeholder="Role" [(ngModel)]="role" disabled required>
          </mat-form-field>
        </div>

        <div style="width:100%">
          <mat-form-field style="width:100%">
            <input name="firstName" matInput placeholder="First Name" [(ngModel)]="firstName" #firstName1="ngModel"
              required>
          </mat-form-field>
          <div *ngIf="f.submitted && firstName1.invalid">
            <mat-error *ngIf="firstName1.errors.required">
              First name is required
            </mat-error>
          </div>
        </div>

        <div style="width:100%">
          <mat-form-field style="width:100%">
            <input name="lastName" matInput placeholder="Last Name" [(ngModel)]="lastName" #lastName1="ngModel"
              required>
          </mat-form-field>
          <div *ngIf="f.submitted && lastName1.invalid">
            <mat-error *ngIf="lastName1.errors.required">
              Last name is required
            </mat-error>
          </div>
        </div>

        <div style="width:100%">
          <mat-form-field style="width:100%">
            <input name="password" matInput placeholder="Password" [(ngModel)]="password" #password1="ngModel" required>
          </mat-form-field>
          <div *ngIf="f.submitted && password1.invalid">
            <mat-error *ngIf="password1.errors.required">
              Password is required
            </mat-error>
          </div>
        </div>

        <div *ngIf="role == 'patient'" style="width:100%">
          <mat-form-field style="width:100%">
            <input name="dob" matInput [(ngModel)]="dob" (ngModelChange)="dobChange($event)" [matDatepicker]="picker" ngmo placeholder="Date Of Birth">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>

        <div *ngIf="role == 'patient'" style="width:100%">
          <mat-form-field style="width:100%">
            <input name="age" matInput placeholder="Age(Years)" [(ngModel)]="age" #age1="ngModel" disabled>
          </mat-form-field>
        </div>

        <div *ngIf="role == 'patient'" style="width:100%;    border: 1px solid #d8d8d8;
        border-radius: 5px;
        padding: 10px;">
          <div style="width:30%">
            <mat-label>Relationship Details</mat-label>
            <mat-select appearance="outline" placeholder="Relationship Type" [(ngModel)]="relation.type" name="relationType">
              <mat-option  value="Father">
                Father
              </mat-option>
              <mat-option  value="Mother">
                Mother
              </mat-option>
              <mat-option  value="Spouse">
                Spouse
              </mat-option>
            </mat-select>
          </div>
          <div style="width:60%">
            <mat-form-field appearance="outline">
              <input name="relationName" matInput placeholder="Relationship Name" [(ngModel)]="relation.name" #relationName="ngModel">
            </mat-form-field>
          </div>
         
        </div>


        <div style="width:100%">
          <mat-form-field style="width:100%">
            <input name="email" matInput placeholder="Email" [(ngModel)]="email" #email1="ngModel" required>
          </mat-form-field>
          <div *ngIf="f.submitted && email1.invalid">
            <mat-error *ngIf="email1.errors.required">
              Email is required
            </mat-error>
          </div>
        </div>

        <div style="width:100%">
          <mat-form-field style="width:100%">
            <input name="phone" matInput placeholder="Phone" [(ngModel)]="phone" #phone1="ngModel" required>
          </mat-form-field>
          <div *ngIf="f.submitted && phone1.invalid">
            <mat-error *ngIf="phone1.errors.required">
              Phone is required
            </mat-error>
          </div>
        </div>

        <div *ngIf="role == 'patient'" style="width:100%">
          <mat-form-field style="width:100%">
            <input name="bloodgroup" matInput placeholder="Blood Group" [(ngModel)]="bloodgroup" #bloodgroup1="ngModel">
          </mat-form-field>
          <div *ngIf="f.submitted && bloodgroup1.invalid">
            <mat-error *ngIf="bloodgroup1.errors.required">
              Blood Group is required
            </mat-error>
          </div>
        </div>

        <div *ngIf="role == 'patient'" style="width:100%">
          <mat-form-field style="width:100%">
            <input name="whatsapp" matInput placeholder="Whatsapp" [(ngModel)]="whatsapp" #whatsapp1="ngModel">
          </mat-form-field>
        </div>

        <div *ngIf="role == 'patient'" style="width:100%">
          <mat-form-field style="width:100%">
            <input name="address" matInput placeholder="Address" [(ngModel)]="address" #address1="ngModel" required>
          </mat-form-field>
          <div *ngIf="f.submitted && address1.invalid">
            <mat-error *ngIf="address1.errors.required">
              Address is required
            </mat-error>
          </div>
        </div>

        <div *ngIf="role == 'patient'" style="width:100%">
          <mat-form-field style="width:100%">
            <input name="referedBy" matInput placeholder="Refered By" [(ngModel)]="referedBy" #referedBy1="ngModel">
          </mat-form-field>
        </div>

        <div *ngIf="role == 'patient'" style="width:100%">
          <mat-form-field style="width:100%">
            <input name="reason" matInput placeholder="Visit Reason" [(ngModel)]="reason" #reason1="ngModel">
          </mat-form-field>
        </div>

      </div>




    </div>
  </div>
  <div mat-dialog-actions style="text-align: center">
    <button style="margin-right: 10px;" mat-raised-button color="primary">Submit</button>
    <button mat-raised-button (click)="cancel()" color="warn">Cancel</button>
  </div>
</form>